

body {
    width: 100%;
    background-color: white;

}

section{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

div{
    padding:3em;
}

.cars h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 55%);

}

.Sedans {
    background-color:hsl(31, 77%, 52%) ;

}

.Suvs {
    background-color: hsl(184, 100%, 22%);
    

}

.luxury {
    background-color: hsl(179, 100%, 13%);
    
    
}

 .button {
    background-color: hsl(0, 0%, 95% );
    border: 1px solid hsl(0, 0%, 95% );
    border-radius: 10px;
    background: hsl(0, 0%, 95%);
    padding: 12px;
    margin-top: 50px;
    

    }
    p {
        color:hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;

    }

     .button:hover {
        background-color:transparent;
        cursor: pointer;
        border: 1px solid  white;
        color: white;
    }